extends layout

block content
  div(id="main")
  div(id="modals-container")
  script(type="text/javascript")
    include app.js
  include home.js
  //include header.js
  //include footer.js
  //include servicios-home.js
  //include servicios.js
  script(type="text/javascript").
    app.module('Home',Home.app);
    app.module('Home').onStart = Home.onStart; 
    app.start();
