doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content='#{description}')
    meta(name="author",content="")
    meta(property="og:image", content="#{logo}")
    meta(property="og:title", content="#{title}")
    meta(property="og:site_name", content="#{sitename}")
    meta(property="og:url", content="#{url}")
    meta(property="og:description", content="#{description}")
    meta(property="fb:app_id", content="689488731182665")
    meta(property="og:type", content="article")
    meta(property="og:locale", content="es_ES")
    meta(property="og:locale:alternate", content="en_US")
    meta(property="article:author", content="https://www.facebook.com/FantasticoComic")
    meta(property="article:publisher", content="https://www.facebook.com/FantasticoComic")
    title #{title}
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel='stylesheet', href='/n/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/n/bootstrap/dist/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/n/backbone.modal/backbone.modal.css')
    link(rel='stylesheet', href='/stylesheets/backbone.modal.theme.css')
    script(type='text/javascript', src="/n/jquery/dist/jquery.js")
    script(type='text/javascript', src="/n/jquery.cookie/jquery.cookie.js")
    script(type='text/javascript', src="/n/underscore/underscore.js")
    script(type='text/javascript', src="/n/handlebars/dist/handlebars.js")
    script(type='text/javascript', src="/n/backbone/backbone.js")
    script(type='text/javascript', src="/n/backbone.marionette/lib/backbone.marionette.js")
    script(type='text/javascript', src="/n/backbone.wreqr/lib/backbone.wreqr.js")
    script(type='text/javascript', src="/n/backbone.intercept/dist/backbone.intercept.min.js")
    script(type='text/javascript', src="/n/backbone.modal/backbone.modal-bundled.js")
    script(type='text/javascript', src='/n/crypto-js/crypto-js.js')
    script(type='text/javascript', src='/n/bootbox/bootbox.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      //ga('create', 'UA-67460743-1', 'auto');
      //ga('send', 'pageview');

  body
    block content
    script(type='text/javascript', src="/n/bootstrap/dist/js/bootstrap.js")
