/* Modal positioning */
.bbm-wrapper {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 50px 10px;
  overflow: auto; }
  .bbm-wrapper * {
    box-sizing: border-box; }

.bbm-modal {
  border-radius: 3px;
  margin: auto;
  width: auto;
  max-width: 99%; }

.bbm-views {
  width: 100%;
  box-sizing: border-box; }
